@import 'no-map';
@import 'background-grid';
@import 'variables';
@import 'ui/ui';

.o-map {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  @import 'reset';
  @import 'ol';
  @import 'externs/glidejs/import.scss';
  @import 'glide/custom';
  @import 'card';
  @import 'container';
  @import 'toolbar';
  @import 'button';
  @import 'image';
  @import 'modal';
  @import 'popup';
  @import 'popover';
  @import 'dropdown';
  @import 'sidebar';
  @import 'close';
  @import 'icon';
  @import 'tooltip';
  @import 'viewer';
  @import 'rotate';
  @import 'mapmenu';
  @import 'editor';
  @import 'editor-toolbar';
  @import 'position';
  @import 'progressbar';
  @import 'measure';
  @import 'print';
  @import 'search';
  @import 'searchList';
  @import 'hidden';
  @import 'featureinfo';
  @import 'infowindow';
  @import 'ui/validate';
  @import 'o-scale';
  @import 'scalepicker';
  @import 'embedded-overlay';
  @import 'help';
}

html,
body {
  height: 100%;
  margin: 0;
}

#o-wrapper,
#app-wrapper {
  height: 100%;
  overflow: hidden;
  position: relative;
}
