@import './variables';
@import './controls';
@import './bullets';
.glide {
  &__track {
    overflow-y: auto;
  }
  &--carousel {
    display: flex;
    flex-direction: column;
    max-height: calc(70vh - 46px);
  }
  &__slide--clone {
    height:0;
  }
}
@media (hover: none) {
  .glide__arrow:hover {
    border-color: $o-glide-border-color; 
  }
}
